body {
  background-color: lightcyan;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: navy;
  font-weight: bold;
}

#search {
  text-align: center;
  padding-top: 20px;
}

#text {
  font-size: 2em;
  font-family: "Helvetica";
}

button {
  font-size: 2em;
  margin-left: 5px;
  background-color: maroon;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: gold;
  color: black;
}

#results {
  text-align: center;
  padding-top: 20px;
  font-size: 1.7em;
  font-family: "Times New Roman", Times, serif;
}
